$UCdimensions: (
  siteNav: (
    verticalPadding: rem(4),
    logoHeight: rem(6),
    fontSize: rem(0)
  ),
  pageSection: (
    xs: rem(3),
    sm: rem(6),
    md: rem(10),
    lg: rem(10)
  ),
  boxShadow: (
    blur: rem(3)
  )
);

@function dim($element, $dimension) {
  @return map-get(map-get($UCdimensions, $element), $dimension);
}
