$UCdimensions: (
  siteNav: (
    verticalPadding: rem(4),
    logoHeight: rem(6),
    fontSize: rem(0)
  ),
  pageSection: (
    xs: rem(3),
    sm: rem(6),
    md: rem(10),
    lg: rem(10)
  ),
  boxShadow: (
    blur: rem(3)
  ),
  letterSpacing: (
    -5: -2px,
    -4: -1.5px,
    -3: -.68px,
    -2: -.25px,
    -1: -.05px,
     0: 0,
     1: 1px,
     2: 2px,
     3: 3px
  )
);

@function dim($element, $dimension) {
  @return map-get(map-get($UCdimensions, $element), $dimension);
}
