$UCsans: 'Inter-Light', sans-serif;
$UCitalic: 'Inter-Italic', sans-serif;
$UCbold: 'Inter-Bold', sans-serif;
$UCmono: 'Roboto Mono', monospace;

$UCfonts: (
  'sans': (
    family: $UCsans,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    ascent: .685
  ),
  'italic': (
    family: $UCitalic,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    ascent: .685
  ),
  'bold': (
    family: $UCbold,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    ascent: .685
  ),
  'mono': (
    family: $UCmono,
    weight: weight(normal),
    capHeight: .67,
    xHeight: .455,
    descent: .215,
    ascent: .685
  ),
  'system': (
    family: mix-system-fonts(),
    weight: weight(normal),
    capHeight: .01,
    descent: .01,
    ascent: .01
   )
);

@function font($font, $property: 'family') {
  @return map-get(map-get($UCfonts, $font), $property);
}
