$UCsans: 'sans', sans-serif;
$UCitalic: 'italic', sans-serif;
$UClight: 'light', sans-serif;
$UCsemibold: 'semibold', sans-serif;
$UCbold: 'bold', sans-serif;
$UCextrabold: 'extrabold', sans-serif;
$UCmono: 'Roboto Mono', monospace;

$UCfonts: (
  'sans': (
    family: $UCsans,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'italic': (
    family: $UCitalic,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'light': (
    family: $UClight,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'semibold': (
    family: $UCsemibold,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'bold': (
    family: $UCbold,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'extrabold': (
    family: $UCextrabold,
    weight: weight(normal),
    capHeight: .68,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'mono': (
    family: $UCmono,
    weight: weight(normal),
    capHeight: .67,
    xHeight: .455,
    descent: .215,
    bottom: .5,
    ascent: .685
  ),
  'system': (
    family: mix-system-fonts(),
    weight: 500,
    capHeight: .01,
    xHeight: .01,
    descent: .01,
    bottom: .5,
    ascent: .01
   )
);

@function font($font, $property: 'family') {
  @return map-get(map-get($UCfonts, $font), $property);
}
