$UClayers: (
  cookiesNotice: 9999,
  mediumZoom: 9998,
  searchBoxOpen: 5000,
  docSidebarTitle: 4000,
  siteNav: 3000,
  docSidebar: 2000
);

@function layers($index) {
  @return map-get($UClayers, $index);
}
