@mixin reset-input {
  outline: none !important;
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: font(system);
  border: none;
  background: none;
  background-image: none;
  box-shadow: none;

  &:focus {
    outline: none;
    background: none;
  }
}

@mixin reset-button {
  appearance: none;
  cursor: pointer;
  outline: none !important; // prevent outline from :focus
  user-select: none; // to prevent text highlights inside buttons
  margin: 0;
  padding: 0;
  text-shadow: none;
  border: none;
  background: none;
  box-shadow: none;
}

@mixin drop-shadow {
  box-shadow:
    0 (dim(boxShadow, blur) * 1/3) dim(boxShadow, blur) 0 rgba(palette(black), 0.05),
    0 (dim(boxShadow, blur) * 1/6) (dim(boxShadow, blur) * 1/3) 0 rgba(palette(black), 0.05),
    0 0 (dim(boxShadow, blur) * 1/6) 0 rgba(palette(black), 0.1);
}
