@import
  './variables',
  './flair',
  './line-number-rows',
  './meta',
  './titles',
  './tokens';

.un-codeblock {

  // for positioning `__title` and `__flair`
  position: relative;

  font-family: font(mono);
  font-size: rem(-1);

  pre {

    // for positioning `.line-numbers-rows`
    position: relative;

    margin-top: $verticalSpacing;
    margin-bottom: $verticalSpacing;

    @include min-screen(breakpoint(sm)) {
      padding-left: $titleWidth;
    }

    font-family: inherit;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;

    &::selection {
      color: palette(white);
      background-color: palette(primary);
    }
  }

  code {
    overflow: auto; // force scrolling when text is too long

    display: block;
    padding:
      $verticalPadding
      $horizontalPadding
      $verticalPadding
      ($horizontalPadding + $lineNumbersWidth);

    font-family: inherit;
    line-height: line-height(double);

    border-radius: $borderRadius;
    background-color: palette(white);
    @include drop-shadow;
  }
}
