@import
  './variables',
  './filename',
  './flair',
  './line-number-rows',
  './titles',
  './tokens';

.un-codeblock__wrapper {

  // for positioning `__title` and `__flair`
  position: relative;

  margin-top: $verticalSpacing;
  margin-bottom: $verticalSpacing;

  font-family: font(mono);
  font-size: rem(-1);
}

.un-codeblock {
  // reset
  margin: unset;
  font-family: font(mono);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;

  position: relative; // for positioning `.line-numbers-rows`

  @include min-screen(breakpoint(sm)) {
    padding-left: $titleWidth;
  }

  &::selection {
    color: palette(white);
    background-color: palette(primary);
  }

  > code {
    color: unset; // reset

    overflow: auto; // force scrolling when text is too long

    display: block;
    padding:
      $verticalPadding
      $horizontalPadding
      $verticalPadding
      ($horizontalPadding + $lineNumbersWidth);

    font-family: font(mono);
    line-height: line-height(double);

    border-radius: $borderRadius;
    background-color: palette(white);
    @include drop-shadow;
  }
}
