.un-codeblock__filename {
  position: absolute; // relative to `.un-codeblock`
  z-index: 2;
  bottom: 100%;

  @include max-screen(breakpoint(xs, max)) {
    left: 0;
  }

  @include min-screen(breakpoint(sm)) {
    left: $titleWidth;
  }

  padding: em(-3) em(-1) em(-2);

  color: palette(white);
  font-size: rem(-3);
  line-height: line-height(base);

  border-top-right-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
  background-color: palette(gray, xx-dark);

  $spaceForTitle: (($titleIconSize * 1.5) + $verticalSpacing);

  & ~ .un-codeblock {

    @include max-screen(breakpoint(xs, max)) {
      margin-top: $spaceForTitle;

      &:before {
        top: -#{$spaceForTitle * 1/2};
      }
    }

    &,
    & > code,
    & .line-numbers-rows {
      border-top-left-radius: 0;
    }
  }

  & ~ .un-codeblock__flair {
    height: $spaceForTitle;
  }
}
