.un-codeblock__meta {
  position: absolute; // relative to `.un-codeblock`
  z-index: 2;
  bottom: 100%;
  left: $titleWidth;

  margin-bottom: 1px;
  padding: em(-3) em(-1);

  font-size: rem(-3);
  line-height: line-height(base);

  background-color: palette(gray, xxx-light);
}
