%un-codeblock__title {
  position: absolute; // relative to `.un-codeblock`
  left: 0;

  @include max-screen(breakpoint(xs, max)) {
    content: '';

    top: -#{$verticalSpacing * 1/2};
    transform: translate3d(0, -50%, 0);

    width: $titleIconSize;

    margin-top: 1px; // for pixel-perfect alignment
  }

  @include min-screen(breakpoint(sm)) {
    content: attr(data-title);

    top: 0;
    width: $titleWidth;
  }

  padding-top: $titleIconSize;

  color: palette(gray, mid);
  font-size: em(-2);
  font-weight: weight(bold);
  @extend .u-expanded;
  text-transform: uppercase;

  background-image: url('/media/icon-code.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: $titleIconSize;
}

.un-codeblock__wrapper {

  &:before {
    @extend %un-codeblock__title;
  }

  &[data-title="output"] {

    &:before {
      background-image: url('/media/icon-terminal.svg');
    }
  }
}
