%un-codeblock__title {
  content: attr(data-title);

  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translate3d(0, -#{$titleIconSize * 1/2}, 0);

  display: block;
  padding-top: ($titleIconSize * 1/2);
  padding-bottom: ($titleIconSize * 1/2);
  padding-left: ($titleIconSize + ($titleIconSize * 1/4));

  color: palette(gray, mid);
  font-size: em(-2);
  font-weight: weight(bold);
  @extend .u-expanded;
  line-height: 0;
  text-transform: uppercase;

  background-image: url('/media/icon-code.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: $titleIconSize;
}

.un-codeblock {

  &:before {
    @extend %un-codeblock__title;
  }

  &[data-title="output"],
  &[data-title="ucm"] {

    &:before {
      background-image: url('/media/icon-terminal.svg');
    }
  }
}
