%uc-codeblock__title {
  position: absolute;
  left: 0;

  @include max-screen(breakpoint(xs, max)) {
    content: '';

    top: -#{$verticalSpacing * 1/2};
    transform: translate3d(0, -50%, 0);

    width: $titleIconSize;

    margin-top: 1px; // for pixel-perfect alignment
  }

  @include min-screen(breakpoint(sm)) {
    top: 0;
    width: $titleWidth;
  }

  padding-top: $titleIconSize;

  color: palette(gray, dark);
  font-size: em(-2);
  font-weight: weight(bold);
  @extend .u-expanded;
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: $titleIconSize;
}

.uc-codeblock {

  &:before {
    @extend %uc-codeblock__title;
    background-image: url('/media/icon-code.svg');

    @include min-screen(breakpoint(sm)) {
      content: 'Code';
    }
  }

  & + & {

    &:before {
      background-image: url('/media/icon-terminal.svg');

      @include min-screen(breakpoint(sm)) {
        content: 'Output';
      }
    }
  }
}
