// token types are defined at https://github.com/brianfryer/prism/blob/master/components/prism-unison.js

.token {

  @at-root .un-codeblock & {

    &.comment { color: palette(gray, light); }
    &.char {}
    &.string { color: palette(black); }
    &.keyword { color: palette(aqua); }
    &.import_statement {}
    &.builtin { color: palette(blue); }
    &.number { color: palette(aqua); }
    &.operator { color: palette(aqua); }
    &.hvariable { color: palette(gray, xx-dark); }
    &.constant { color: palette(purple); }
    &.punctuation { color: palette(pink); }

  }
}
