$titleIconSize: em(4);
$titleWidth: em(13);
$borderRadius: (em(-3) * 1/2);
$lineNumbersWidth: em(8);
$verticalSpacing: em(6);
$verticalPadding: em(0);
$horizontalPadding: em(3);
$flairDotSize: (em(0) * 1/2);
