$titleIconSize: rem(3);
$titleWidth: rem(13);
$borderRadius: (rem(-3) * 1/2);
$lineNumbersWidth: rem(8);
$verticalSpacing: rem(6);
$verticalPadding: rem(0);
$horizontalPadding: rem(3);
$flairDotSize: (rem(0) * 1/2);
