* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: palette(black);
  font-family: font(sans);
  font-weight: weight(normal);
  font-size: rem(0);
  letter-spacing: -#{1/20 * em(0)};
  line-height: line-height(default);

  background: transparent; // overridden by bg utility classes as needed

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-tap-highlight-color: rgba(palette(primary), 0.15);
}

::selection {
  color: palette(yellow, xxx-dark);
  background-color: palette(yellow);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  font-family: font(bold);
  font-size: inherit;
  font-weight: weight(normal);
  line-height: line-height(half);
}

p, ul, ol, dl, table, blockquote, li, dt, dd, iframe {
  // reset
  margin: 0;

  margin-top: em(0);
  margin-bottom: 0;

  &:first-child {
    margin-top: 0;
  }
}

a {
  cursor: pointer;
  color: palette(primary);
  text-decoration: none;

  &:hover {
    color: palette(primary, bright);
    text-decoration: underline;
  }
}

a, button, label {

  &:focus {
    outline: none;
  }
}

hr {
  // <hr> reset
  margin: rem(0) 0;
  border: 0;
  border-top: 1px solid rgba(palette(gray, xx-dark), 0.5);
}

code {

  @at-root *:not(.un-codeblock) & {
    display: inline;

    padding-right: (em(0) * 1/4);
    padding-left: (em(0) * 1/4);

    color: palette(pink);

    border-radius: (em(-2) * 1/4);
    background-color: palette(gray, xx-light);
  }
}
