@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Regular.woff') format('woff');
 }

@font-face {
  font-family: 'Inter-Italic';
  src: url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Italic.woff') format('woff');
 }

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Bold.woff') format('woff');
 }

@import
  url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'),
  './vendor/libraries',
  './utilities/utilities',
  './common/common';
